form button {
  display: block;
  font-size: inherit;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 20px auto;
}

form input {
  display: block;
  font-size: inherit;
  margin: 2px auto;
  box-sizing: border-box;
  padding: 0px;
  width: 60vw;
}
div {
  font-size: 18px;
}

.MainForm {
  display: inline-block;
  margin-top: 50px;
}

p {
  color: red;
  font-size: 12px;
}

.formCheck {
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: auto;
  box-sizing: border-box;
  padding: 0px;
}

.inputEmail {
  margin: 0px;
  width: 82%;
}

.checkEmail {
  font-size: 5px;
  width: 18%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: auto 0px auto 4px;
}

.Button_cancel {
  display: block;
  font-size: inherit;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 8% auto;
}
