div {
  font-size: 32px;
}


.register_box {
  height: 100%;
  width: 100%;
}


.MainForm {
  margin-top: 10%;
  height: 50%;
  width: 100%;
  box-sizing: border-box;
}

.email_box {
  font-size: 32px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
}


.inputEmail {
  font-size: inherit;
  font-family: inherit;
  width: 85%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
}


.checkEmail {
  display: block;
  font-family: inherit;
  font-size: 5px;
  width: 15%;
  height: 100%;
  border-radius: 5px;
  margin: 0;
  padding-left: 1%;
  box-sizing: border-box;
  
}

.checkEmail button {
  font-size:18px;
  font-family: inherit;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #8a9c3a;
  border-radius: 5px;
  color: #fff;
  border: 0;
}

.checkEmail button pre {
  margin: 0;
}


.name_box {
  font-size: 32px;
  width: 90%;
  margin: 5% auto
}


.input_name {
  font-size: inherit;
  font-family: inherit;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.password_box {
  font-size: 32px;
  width: 90%;
  margin: 5% auto
}


.input_password {
  font-size: inherit;
  font-family: inherit;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}


.password_check_box {
  font-size: 32px;
  width: 90%;
  margin: 5% auto
}


.input_password_check {
  font-size: inherit;
  font-family: inherit;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.password_check_box p {
  text-align: right;
  color: red;
  font-size: 18px;
}


.register_button {
  display: block;
  font-size: 32px;
  font-family: inherit;
  text-align: center;
  color: #fff;
  width: 90%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 20px auto;
}

.cancel_button {
  display: block;
  font-size: 32px;
  font-family: inherit;
  text-align: center;
  color: #fff;
  width: 90%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 20px auto;
}


