.header_box {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  box-sizing: border-box;
  background-color: #8A9C3A;
  margin: 0px;
}



.header_image {
  margin: auto 0;
  margin-left: 5%;
  width: 46px;
  height: 40px;
}

.header_title {
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.header_button {
  margin: auto 0;
  margin-right: 5%;
  width: 15%;
  height: 60%;
  border: none;
  background: transparent;
}

.header_button_image {
  width: 100%;
  height: 100%;
}



.modal_box {
  position: fixed;
  top: 0px;
  background-color: rgb(185,197,137);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal_header_box {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;


}

.modal_header_button {
  margin-top: 10px;
  width: 6vh;
  height: 6vh;
  border: none;
  background: transparent;
  font-family: inherit;
}

.modal_header_button_image {
  width: 100%;
  height: 100%;
  background: transparent;
}

.modal_main_box {
  margin-top: 5vh;
  /* white-space:nowrap; */

}

.modal_search {
  width: 80%;
  height: 7vh;
  border: 0px;
  border-radius: 20px;
  padding-left: 10px;
  box-shadow: 4px 5px 5px rgba(0,0,0,0.6);
  font-size: 18px;
  font-family: inherit;
  font-size: 24px;
 }

.modal_list {
  text-align: left;
  /* margin-top: 5vh; */
  margin: 3vh;
  padding-left: 25px;
  font-family: inherit;
  /* list-style:none; */
}

.modal_list_line {
  border-bottom: 1px solid black;
  margin-top: 6vh;
  font-family: inherit;
}

.modal_button {
  border: none;
  /* background-color: white; */
  margin: 3px 0;
  background: transparent;
  font-size: 24px;
  font-family: inherit;
}

.yellow {
  background-color: #F5DF4D;
}
.dimyellow {
  background-color: rgb(250,239,166);
}
.search_card_list_box {
  width: 80vw;
  height: 70vw;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.35);
  margin: 5vh auto;
  position: relative;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: scroll;
  font-family: inherit;
}
/* .con {
  width: 180px;
  position: relative;
  border: 1px solid
 #ccc;
}
.con_input {
  margin: 0 0 0 4px;
  border: 0;
}
.con img {
  display: block;
  position: absolute;
  top: 4px;
  left: 164px;
  cursor: pointer;
} */