.button {
  font-size: inherit;
  width: 50%;
  height: 50%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 5vh 0;
}

.image {
  width: 30px;
  height: 30px;
  margin: auto;
}
