div {
  font-size: 18px;
}

.qr_list_box {
  height: 80vh;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0px;
}

.qr_register_box {
  font-size: inherit;
  width: 100vw;
  height: 10vh;
  background-color: #F5DF4D;
  border: 0px;
  margin: 0px;
  font-family: inherit;
}

