div {
  font-size: 18px;
}

.qr_list_box {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px;
}

.qr_register_box {
  display: block;
  font-size: 32px;
  width: 100vw;
  background-color: #F5DF4D;
  margin: 0px;
  font-family: inherit;
  position: fixed;
  bottom: 0px;
  border: #F5DF4D solid 3px;
}
