div {
  font-size: 18px;
}

.password_change_box {
  width: 100%;
  height: 100%;
}

.password_change_title {
  margin: 20% auto;
  height: 15%;
  font-size: 3rem;
  color: #8a9c3a;
  text-shadow: 
    -3px 0 #F5DF4D, 
    0 3px #F5DF4D, 
    3px 0 #F5DF4D, 
    0 -3px #F5DF4D;
}

.MainForm {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
}


.password_box {
  height: 10%;
  width: 80%;
  margin: 5% auto;
}


.input_password {
  font-family: inherit;
  width: 85%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
}

.change_password_box {
  height: 10%;
  width: 80%;
  margin: 5% auto;
}


.input_change_password {
  font-family: inherit;
  width: 85%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
}

.input_check_password {
  font-family: inherit;
  width: 85%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
}

.check_password_box {
  height: 10%;
  width: 80%;
  margin: 5% auto;
}

.check_password_box p {
  color: red;
  font-size: 5px;
}

.check_button {
  display: block;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  color: #fff;
  width: 80%;
  height: 10%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 20px auto;
}

.cancel_button {
  display: block;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  color: #fff;
  width: 80%;
  height: 10%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 20px auto;
}



/* form button {
  display: block;
  font-size: inherit;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 20px auto;
}

form input {
  display: block;
  font-size: inherit;
  margin: 2px auto;
  box-sizing: border-box;
  padding: 0px;
  width: 60vw;
}


.Button_cancel {
  display: block;
  font-size: inherit;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
  margin: 8% auto;
} */
