.add_box {
  height: 85vh;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-content: flex-start;
  margin: 0px;
}


.image_box {
  width: 55vw;
  height: 55vw;
  border-radius: 5px;
  background-color: #fff;
  margin: 5vh auto;
  position: relative;
  border: 1px solid #000;

}

.image_box img{
  width: 100%;
  height: 100%;
}


.image_button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 10vw;
  height: 10vw;
  background-color: #fff;
  border: 0px;
  padding: 0px;
  border: 1px solid #8A9C3A;
  border-radius: 30px;
}

.image_input {
  width: 100%;
  display: none;
}


.image_button img {
  width: 60%;
  height: 60%;  
  margin-top: 15%;
}


.situation_input {
  width: 90%;
  margin: 0;
  border: 0px;
  border-bottom: 1px solid #000;
  font-family: inherit;
  font-size: 8vw;
}
.count_Name {
  font-family: inherit;
  font-size: 7vw;
  margin: 0 3%;
}



.button_box {
  font-size: 32px;
  box-sizing: border-box;
  display: flex;
  margin: 0px;
}

.bottom_button{
  position: fixed;
  bottom: 0px;
}

.close_button {
  width: 50vw;
  padding: 0;
  background-color:  white;
  box-sizing: border-box;
  font-size: inherit;
  border: #8A9C3A solid 1px;
  border-radius: 3px;
}
.edit_button {
  width: 50vw;
  padding: 0;
  color: white;
  background-color:  #8A9C3A;
  box-sizing: border-box;
  font-size: inherit;
  border: #8A9C3A solid 1px;
  border-radius: 3px;
}
