.card{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
  height: 90%; 
  margin: 1vh 1vw;
}

.card_image {
  font-size: inherit;  
  border-bottom: 1px solid black;
  height: 70%;
  width: 100%;
  padding: 0px;
  display: flex;
}
