.speacharea {
  display: flex;
}
.speachbox {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 70vw;
  height: 20vw;
  margin: 5px;
  flex-basis: 0;
  flex-grow: 1;

}
.speachcancel {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 15vw;
  height: 20vw;
  margin: 5px;
  flex-basis: 0;

}