.button {
  font-size: inherit;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #8a9c3a;
  border: 2px solid #8a9c3a;
  border-radius: 5px;
}

div {
  font-size: 18px;
}

.labelForm {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
}

span {
  font-size: 14px;
  margin: 5px 0px;
  width: auto;
}

.MainForm {
  display: inline-block;
  margin-top: 50px;
}

.input_check {
  display: inline;
  font-size: inherit;

  width: 10%;
  margin: 0;
  padding: auto 0px;
}
