div {
  font-size: 18px;
}

.speech_box {
  width: 100%;
  height: 15vh;
  box-sizing: border-box;
  white-space:nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0px;
}


.control_box {
  display: flex;
  height: 5vh;
  box-sizing: border-box;
  background-color: #8A9C3A;
  margin: 0px;

}

.control_box button {
  flex-basis: 0;
  flex-grow: 1;
  border: 0px;
  background-color: transparent; 
  padding: 0;
  height: 5vh;
}

.control_box img {
  padding: 5% 0;
  width: 4vh%;
  height: 4vh;
  box-sizing: border-box;
  
}





.category_card_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  box-sizing: border-box;
  height: 65vh;
  flex-wrap: wrap;
  overflow: scroll;
  margin: 0px;
}



.card_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  box-sizing: border-box;
  height: 65vh;
  flex-wrap: wrap;
  overflow: scroll;
  margin: 0px;
}

.button_box {
  height: 5vh;
  box-sizing: border-box;
  display: flex;
  margin: 0px;
}

.add_button {
  width: 50vw;
  padding: 0;
  background-color:  white;
  box-sizing: border-box;
  font-size: inherit;
  border: #8A9C3A solid 1px;
  border-radius: 3px;
  font-family: inherit;
}
.update_button {
  width: 50vw;
  padding: 0;
  color: white;
  background-color:  #8A9C3A;
  box-sizing: border-box;
  font-size: inherit;
  border: #8A9C3A solid 1px;
  border-radius: 3px;
  font-family: inherit;
}
.bottom_button{
  position: fixed;
  bottom: 0px;
}



