div {
  font-size: 18px;
}
.speech_box {
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
  height: 15vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}


.speech_item_box {
  flex-basis: 0;
  flex-grow: 0.9;
  margin: 0;
  white-space:nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.speech_cancel {
  background-color: white;
  border-radius: 10px;
  border: 0;
  height: 14vh;
  margin: 0;
  flex-basis: 0;
  flex-grow: 0.1;

}


.speech_cancel img {
  width: 100%;
  height: 100%;
}
.qr_card_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  box-sizing: border-box;
  height: 70vh;
  margin: 0;
  flex-wrap: wrap;
  overflow: scroll;
}



.button_box{
  box-sizing: border-box;
  display: flex;
  position: fixed;
  bottom: 0;
  font-size: 32px;
}

.add_button {
  width: 50vw;
  padding: 0;
  background-color:  white;
  box-sizing: border-box;
  font-size: inherit;
  border: #F5DF4D solid 1px;
  border-radius: 3px;
}
.update_button {
  width: 50vw;
  padding: 0;
  color: white;
  background-color:  #F5DF4D;
  box-sizing: border-box;
  font-size: inherit;
  border: #F5DF4D solid 1px;
  border-radius: 3px;
}


