* {
  font-family: inherit;
}

div {
  font-size: 18px;
}

.qr_name_input_box {
  width: 100vw;
  height: 85vh;
  margin: 0px;
}

.qr_name_input {
  font-size: inherit;
  border: 0px;
  border-bottom: 1px solid #000;
  width: 80vw;
  margin-top: 15vh;
  font-family: inherit;
}

.button_box {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100vw;
  height: 5vh;
  margin: 0px;
}
.qr_edit_delete_button {
  font-size: inherit;
  width: 50vw;
  color: #f5df4d;
  background-color: #fff;
  border: 1px solid #f5df4d;
}

.qr_edit_button {
  font-size: inherit;
  width: 50vw;
  background-color: #f5df4d;
  border: 1px solid #f5df4d;
}
