div {
  font-size: 32px;
}

.qr_list_box {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 2vh auto;
  border-bottom: 1px solid #000;
}

.qr_name_box {
  font-size: 24px;
  margin: auto 0;
  width: 50vw;
}


.qr_name {
  border: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
}

.qr_button_box  {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
}



.qr_edit_button {
  font-size: 5vw;
  height: 25px;
  background-color: rgba(245, 223, 77,0.5);
  color: #000;
  border: 2px solid #000;
  border-radius: 2vw;
  margin: 1vh 1vw;
  font-family: inherit;
  width: 100%;
}

.qr_eeum_button {
  font-size: 5vw;
  height: 25px;
  background-color: #8A9C3A;
  color: #000;
  border: 2px solid #000;
  border-radius: 2vw;
  margin: 1vh 1vw;
  font-family: inherit;
  width: 100%;
}


.qr_button {
  font-size: 5vw;
  background-color: #F5DF4D;
  color: #000;
  border: 2px solid #000;
  border-radius: 2vw;
  margin: 1vh 1vw;
  font-family: inherit;
  width: 100%;
}

.qr_name span {
  font-size: 5vw;
}