div {
  font-size: 18px;
}

.qr_name_input_box {
  width: 100vw;
  height: 85vh;
  margin: 0px;
}

.qr_name_input {
  font-family: inherit;
  font-size: 8vw;
  border: 0px;
  border-bottom: 1px solid #000;
  width: 80vw;
  margin-top: 15vh;
}

.button_box {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100vw;
  margin: 0px;
  font-size: 32px;
}
.qr_resiter_cancle_button {
  font-size: inherit;
  font-family: inherit;
  width: 50vw;
  color: #000;
  background-color: #fff;
  border: 3px solid #f5df4d;
}

.qr_resiter_button {
  font-size: inherit;
  font-family: inherit;
  width: 50vw;
  background-color: #f5df4d;
  border: 3px solid #f5df4d;
}

.count_Name {
  font-family: inherit;
  font-size: 7vw;
  margin: 0 3%;
}